## Example - difi on MOPS

[Assumed Inputs](#Assumed-Inputs)  
[Analyzing Observations](#Analyzing-Observations-(Can-I-Find-It%3F))  
[Analyzing Linkages](#Analyzing-Linkages-(Did-I-Find-It%3F))

In [1]:
import os
import sys
import numpy as np
import pandas as pd

sys.path.append("..")

import difi

In [2]:
DATA_DIR = "data/mops/"

### Assumed Inputs

Lets take a look at a sample observations file used by the MOPS software.

In [3]:
observations = pd.read_csv(os.path.join(DATA_DIR, "night_52391_through_52406.dets"), 
                           sep=" ", 
                           index_col=False, 
                           header=None, 
                           names=["det_id", 
                                  "field_id", 
                                  "object_name", 
                                  "ra_deg", 
                                  "dec_deg", 
                                  "epoch_mjd", 
                                  "mag", 
                                  "mag_sigma"],
                           dtype={"det_id" : str})

In [4]:
observations

,det_id,field_id,object_name,ra_deg,dec_deg,epoch_mjd,mag,mag_sigma
0,137541512,1719609,4,171.392970,-14.233830,52391.002282,20.7856,0.105232
1,137541513,1719609,5,171.308411,-14.222651,52391.002282,19.7737,0.037289
2,137541533,1719609,24,171.105427,-13.838795,52391.002282,21.1030,0.146543
3,137541550,1719609,41,171.097453,-14.453792,52391.002282,20.7811,0.104742
4,137541564,1719609,54,171.740297,-14.035202,52391.002282,18.1394,0.008938
5,137541588,1719609,78,170.537911,-14.648319,52391.002282,17.7483,0.006731
6,137541598,1719609,88,170.692361,-14.499369,52391.002282,20.4922,0.077495
7,137541599,1719609,89,170.531883,-14.755033,52391.002282,20.1186,0.052732
8,137541608,1719609,98,171.096560,-14.599865,52391.002282,20.0936,0.051408
9,137541612,1719609,102,171.884102,-13.515641,52391.002282,20.3130,0.064372
10,137541613,1719609,103,171.048845,-14.549147,52391.002282,20.0520,0.049281
11,137541615,1719609,105,171.033214,-13.957735,52391.002282,19.6276,0.032314
12,137541625,1719609,115,170.165888,-14.746113,52391.002282,20.6335,0.089777
13,137541635,1719609,125,170.276747,-14.458468,52391.002282,17.4429,0.005460
14,137541637,1719609,127,170.623104,-14.581956,52391.002282,19.9805,0.045842
15,137541642,1719609,132,170.574060,-14.441776,52391.002282,21.2385,0.168668
16,137541643,1719609,133,170.860425,-14.678338,52391.002282,19.2050,0.021683
17,137541644,1719609,134,170.212025,-15.098623,52391.002282,20.5602,0.083174
18,137541655,1719609,145,170.617462,-14.579933,52391.002282,18.9860,0.017813
19,137541662,1719609,152,171.848283,-13.933122,52391.002282,21.0460,0.138095
20,137541663,1719609,153,170.807809,-14.603810,52391.002282,20.8458,0.112069
21,137541672,1719609,162,171.686014,-14.196999,52391.002282,21.2834,0.176674
22,137541683,1719609,173,171.232809,-13.843368,52391.002282,21.2178,0.165092
23,576812624,1719609,-2,170.880317,-14.591144,52391.002282,21.3844,0.196390
24,625113393,1719609,-1,170.423482,-14.852135,52391.002282,20.1396,0.066330
25,625113737,1719609,-1,170.396980,-14.649377,52391.002282,21.1886,0.166333
26,625113956,1719609,-1,170.750562,-14.738529,52391.002282,19.9385,0.055396
27,137541961,1719612,423,150.002694,-10.960348,52391.004417,20.2531,0.057855
28,137541972,1719612,433,149.504515,-11.297873,52391.004417,18.8552,0.015310
29,137541981,1719612,441,148.713483,-11.333036,52391.004417,20.1406,0.051575
...,...,...,...,...,...,...,...,...
106451,647037836,1731682,-1,244.317221,-11.773105,52406.178447,23.2368,0.083292
106452,147403445,1731683,391616,252.522165,-27.135086,52406.179203,22.8188,0.045770
106453,147403509,1731683,391654,252.595418,-27.431805,52406.179203,22.5849,0.036253
106454,147403668,1731683,417295,252.526216,-27.031124,52406.179203,22.2489,0.026212
106455,147404008,1731683,7670,252.903519,-27.488897,52406.179203,18.6688,0.002001
106456,147404231,1731683,882615,253.777827,-26.666654,52406.179203,23.9696,0.150683
106457,147404589,1731683,882786,252.888155,-27.913989,52406.179203,24.2179,0.194768
106458,147404642,1731683,392288,252.464487,-27.163630,52406.179203,22.7307,0.041898
106459,147404824,1731683,417430,252.388266,-27.161188,52406.179203,22.2651,0.026615
106460,147405113,1731683,392585,253.052752,-26.880396,52406.179203,22.2139,0.025362
106461,147405178,1731683,1509796,256.487122,-27.158237,52406.179203,23.2120,0.068426
106462,147405201,1731683,392645,252.540938,-27.374329,52406.179203,23.1028,0.061139
106463,147405612,1731683,883213,255.215726,-28.232586,52406.179203,23.9984,0.155250
106464,647039298,1731683,-1,253.210844,-27.993773,52406.179203,22.6003,0.047197
106465,647039332,1731683,-1,253.038888,-26.798695,52406.179203,24.1407,0.183003
106466,647039595,1731683,-1,253.240657,-27.272609,52406.179203,22.9413,0.064111
106467,647040049,1731683,-1,252.973048,-27.896998,52406.179203,23.7422,0.129985
106468,647040898,1731684,-1,256.581649,-13.522764,52406.179781,20.8818,0.010577
106469,647041422,1731684,-1,256.173616,-15.769697,52406.179781,23.5201,0.114476
106470,647042050,1731684,-1,257.238411,-16.486472,52406.179781,24.1323,0.193798
106471,647042523,1731684,-1,257.597848,-16.169220,52406.179781,23.6680,0.130215
106472,147409311,1731685,820706,264.299418,-16.167985,52406.180247,22.5400,0.040119
106473,647044299,1731685,-1,264.363503,-16.103499,52406.180247,24.0506,0.192060
106474,147411303,1731686,819286,264.772612,-13.900569,52406.180694,21.7834,0.020230
106475,647044574,1731686,-1,263.190758,-14.008137,52406.180694,23.7068,0.147954
106476,647044590,1731686,-1,264.678804,-14.372913,52406.180694,23.3985,0.113214
106477,147435568,1731816,861639,279.590348,-42.205197,52406.239688,23.7766,0.125809
106478,647319299,1731840,-1,279.617153,-42.209205,52406.250551,23.5980,0.113748
106479,647319475,1731840,-1,279.309504,-42.968246,52406.250551,24.0731,0.171468
106480,647419570,1731897,-1,279.379682,-42.972406,52406.277107,24.0889,0.165991

MOPS outputs its linkages in a text with the observation IDs for each linkage written in a single line. Notice how there also no linkage IDs.

In [5]:
! head {DATA_DIR}night_52391_through_52406.track

137541512 137543165 137615070 137620728 138216303 138216866 138221227
137541512 137543165 137615070 137620728 138216303 138216866 138221227 144513728 144533645
137541512 137543165 137615070 137620728 138216303 138216866 138221227 144513728 144533645 146991832 147084549
137541512 137543165 137615070 137620728 138216303 138216866 138221227 144514371 144534274
137541512 137543165 137615070 137620728 142747928 142763154
137541512 137543165 137615070 137620728 142748009 142763229
137541512 137543165 137615070 137620728 142748009 142763229 144513839 144533746
137541512 137543165 137615070 137620728 142748120 142763338
137541512 137543165 137615070 137620728 142748305 142763529
137541512 137543165 137615070 137620728 142748337 142763570

Before we continue lets tell `difi` what columns to use. Between the observations and linkageMembers dataframe, `difi` needs to know about just three columns:
- linkage_id: the ID assigned to each linkage
- obs_id : the observation ID from which linkages are made
- truth : the truth for every observation

So lets define a dictionary that tells `difi` what columns to use for this information.

In [6]:
columnMapping = {
    # difi column name : data column name
    "linkage_id" : "track_id",
    "obs_id" : "det_id",
    "truth" : "object_name"
}

We can convert this format into the linkageMembers format required by `difi` using the following code.

In [7]:
linkageMembers = difi.readLinkagesByLineFile("data/mops/night_52391_through_52406.track",
                                             columnMapping=columnMapping)

In [8]:
linkageMembers

        track_id     det_id
0              1  137541512
1              1  137543165
2              1  137615070
3              1  137620728
4              1  138216303
5              1  138216866
6              1  138221227
7              2  137541512
8              2  137543165
9              2  137615070
10             2  137620728
11             2  138216303
12             2  138216866
13             2  138221227
14             2  144513728
15             2  144533645
16             3  137541512
17             3  137543165
18             3  137615070
19             3  137620728
20             3  138216303
21             3  138216866
22             3  138221227
23             3  144513728
24             3  144533645
25             3  146991832
26             3  147084549
27             4  137541512
28             4  137543165
29             4  137615070
...          ...        ...
437089     49997  138983094
437090     49997  139039634
437091     49997  140060955
437092     49997  140135264
437093     49997  576903083
437094     49997  625449591
437095     49998  138997908
437096     49998  139036019
437097     49998  140057070
437098     49998  140131256
437099     49998  140167671
437100     49998  140240862
437101     49998  576902948
437102     49998  625449737
437103     49999  138997974
437104     49999  139036090
437105     49999  140057682
437106     49999  140131877
437107     49999  140168309
437108     49999  140241504
437109     49999  576902948
437110     49999  625449737
437111     50000  138998438
437112     50000  139036531
437113     50000  140057632
437114     50000  140131831
437115     50000  140168253
437116     50000  140241451
437117     50000  576903193
437118     50000  576919055

[437119 rows x 2 columns]

The linkage dataframe has just two columns, both of which `difi` needs. The first column has the linkage ID, then for each linkage each unique observation in that linkage is listed in the second column. 

Lets take a look at two specific examples:

In [9]:
linkageMembers[linkageMembers["track_id"] == 4]

    track_id     det_id
27         4  137541512
28         4  137543165
29         4  137615070
30         4  137620728
31         4  138216303
32         4  138216866
33         4  138221227
34         4  144514371
35         4  144534274

In [10]:
linkageMembers[linkageMembers["track_id"] == 14]

     track_id     det_id
97         14  137541512
98         14  137543165
99         14  137615070
100        14  137620728
101        14  144513738
102        14  144533658

### Analyzing Observations (Can I Find It?)

Determing how a linking algorithm performs involves knowing what it should be able to link. `difi` comes with a function that analyzes findablility with a simple assumption: any truths with at least x many observations should be findable. We leave it to the user to determine more complicated findability metrics for their specific science cases. 

Lets see what should be findable with MOPS with this simple metric.

In [11]:
allTruths, summary = difi.analyzeObservations(observations,
                                              minObs=5,
                                              unknownIDs=[],
                                              falsePositiveIDs=["-1", "-2"],
                                              verbose=True,
                                              columnMapping=columnMapping)

Analyzing observations...
Known truth observations: 103188
Unknown truth observations: 0
False positive observations: 3293
Percent known truth observations (%): 96.907
Percent unknown truth observations (%): 0.000
Percent false positive observations (%): 3.093
Unique truths: 17476
Unique known truths : 17474
Unique known truths with at least 5 detections: 8523

Total time in seconds: 0.06351709365844727

The `analyzeObservations` function returns two dataframes. Let's take a look both of them in a little detail. 

The allTruths dataframe lists each unique truth as a row with columns that account for the number of observations that each unique truth has and also if it is findable (if it has more than `minObs` observations).

In [12]:
allTruths

       object_name  num_obs  findable
0               -1     2346         0
1               -2      947         0
2             7359       26         1
3             7928       26         1
4             7888       26         1
5             7839       25         1
6             7704       25         1
7             7684       25         1
8             7930       25         1
9             7863       25         1
10            7204       24         1
11            7657       24         1
12          419382       24         1
13            7682       24         1
14            7269       24         1
15            7851       24         1
16            7763       24         1
17            7896       24         1
18            7466       23         1
19          418950       23         1
20            7339       23         1
21            7836       23         1
22            7728       23         1
23            7617       23         1
24            7379       23         1
25            7807       23         1
26            7660       23         1
27            7602       23         1
28            7316       23         1
29            7498       23         1
...            ...      ...       ...
17446       275637        1         0
17447       488632        1         0
17448       674783        1         0
17449        30347        1         0
17450      1510859        1         0
17451       695737        1         0
17452       496833        1         0
17453       738386        1         0
17454       667714        1         0
17455       420463        1         0
17456      1506597        1         0
17457       494530        1         0
17458         6986        1         0
17459       521917        1         0
17460       431656        1         0
17461       522132        1         0
17462       522397        1         0
17463       478954        1         0
17464       449362        1         0
17465       438516        1         0
17466       664013        1         0
17467       266197        1         0
17468      1004323        1         0
17469       691870        1         0
17470       431464        1         0
17471       251637        1         0
17472       424429        1         0
17473       813551        1         0
17474       883213        1         0
17475       462158        1         0

[17476 rows x 3 columns]

One can trivially select the objects that should or should not be findable thanks to `pandas`.

In [13]:
findable_known_truths = allTruths[allTruths["findable"] == 1][columnMapping["truth"]].unique()
not_findable_known_truths = allTruths[(allTruths["findable"] == 0) & (~allTruths[columnMapping["truth"]].isin(["-1", "-2"]))][columnMapping["truth"]].unique()

As stated earlier, the `analyzeObservations` function has a very simple findability criteria. The user can write their own metric and then generate a dataframe in the same style as the one above. Doing so will allow `difi` to calculate summary statistics, however, this is not necessary to proceed with determining if truths were linked.

Before we go to seeing how MOPS performed, lets take a look at the summary dataframe.

In [14]:
summary

,num_unique_truths,num_unique_known_truths,num_unique_known_truths_findable,num_known_truth_observations,num_unknown_truth_observations,num_false_positive_observations,percent_known_truth_observations,percent_unknown_truth_observations,percent_false_positive_observations
0,17476,17474,8523,103188,0,3293,96.907429,0.0,3.092571

In [15]:
summary.columns

Index(['num_unique_truths', 'num_unique_known_truths',
       'num_unique_known_truths_findable', 'num_known_truth_observations',
       'num_unknown_truth_observations', 'num_false_positive_observations',
       'percent_known_truth_observations',
       'percent_unknown_truth_observations',
       'percent_false_positive_observations'],
      dtype='object')

The summary dataframe is a very simple single row dataframe with some summary numbers about the given observations. 

A few things to note: any observations with truths that are either unknownIDs or falsePositiveIDs are ignored when counting the number of truths that should be findable. For example, in the function call a fews cell earlier the `falsePositiveIDs` kwarg was set to `["-1", "-2"]`.

In [16]:
allTruths[allTruths["findable"] == 0].head()

      object_name  num_obs  findable
0              -1     2346         0
1              -2      947         0
8525       436045        4         0
8526       423369        4         0
8527       421386        4         0

However... MOPS can't link single detections and has a stricter findability metric. We can write our own function to calculate findability to get a more accurate measure of what should be findable by MOPS.

In [17]:
# This is where the user's specific science and domain knowledge comes in to
# help determine what is findable and what is not

def calcNight(mjd, midnight=0.166):
    night = mjd + 0.5 - midnight
    return night.astype(int)

def calcFindableMOPS(observations, 
                     trackletMinObs=2, 
                     trackMinNights=3, 
                     falsePositiveIDs=["-1", "-2"],
                     unknownIDs=[],
                     columMapping=columnMapping):
    # Groupby night, then count number of occurences per night
    night_designation_count = observations[~observations[columnMapping["truth"]].isin(falsePositiveIDs + unknownIDs)].groupby(["nid"])[columnMapping["truth"]].value_counts()
    night_designation_count = pd.DataFrame(night_designation_count)
    night_designation_count.rename(columns={columnMapping["truth"]: "num_obs"}, inplace=True)
    night_designation_count.reset_index(inplace=True)

    # Remove nightly detections that would not be linked into a tracklet
    night_designation_count = night_designation_count[night_designation_count["num_obs"] >= trackletMinObs]

    # Groupby object then count number of nights
    try: 
        designation_night_count = pd.DataFrame(night_designation_count.groupby([columnMapping["truth"]])["nid"].value_counts())
    except:
        # No objects satisfy the requirements, return empty array
        return np.array([])
    designation_night_count.rename(columns={"nid": "num_nights"}, inplace=True)
    designation_night_count.reset_index(inplace=True)

    # Grab objects that meet the night requirement
    tracklet_nights_possible = designation_night_count[columnMapping["truth"]].value_counts()
    return tracklet_nights_possible.index[tracklet_nights_possible >= trackMinNights].values

observations["nid"] = calcNight(observations["epoch_mjd"])
findable_by_mops = calcFindableMOPS(observations)

These are the objects that should actually be findable by MOPS.

In [18]:
findable_by_mops

array([  7973,   7674,   7636, ..., 416418, 499300, 423577])

Now lets modify the allTruths dataframe to update findability.

In [19]:
allTruths["findable"] = np.zeros(len(allTruths), dtype=int)
allTruths.loc[allTruths[columnMapping["truth"]].isin(findable_by_mops), "findable"] = 1

Lets confirm this worked as intended.

In [20]:
assert len(findable_by_mops) == len(allTruths[allTruths["findable"] == 1])
assert set(findable_by_mops) == set(allTruths[allTruths["findable"] == 1][columnMapping["truth"]].unique())

### Analyzing Linkages (Did I Find It?)

In [21]:
allLinkages, allTruths, summary = difi.analyzeLinkages(observations, 
                                                       linkageMembers, 
                                                       allLinkages=None, 
                                                       allTruths=allTruths,
                                                       summary=summary,
                                                       minObs=6, 
                                                       contaminationThreshold=0.2, 
                                                       unknownIDs=[],
                                                       falsePositiveIDs=["-1", "-2"],
                                                       verbose=True,
                                                       columnMapping=columnMapping)

Analyzing linkages...
Known truth pure linkages: 4085
Known truth partial linkages: 2678
Unknown truth pure linkages: 0
Unknown truth partial linkages: 0
False positive pure linkages: 6
False positive partial linkages: 0
Mixed linkages: 43231
Total linkages: 50000
Mixed linkage percentage (%): 86.462
Unique known truths linked: 3116
Unique known truths missed: 3558
Completeness (%): 46.689

Total time in seconds: 0.6326088905334473

The `analyzeLinkages` function returns three dataframes:
- allLinkages: each linkage is summarized as its own row. 
- allTruths: each truth is summarized as its own row. 
- summary: summary statistics in a single row. 

Lets now take a look at each individually.

In [22]:
allLinkages

,track_id,num_members,num_obs,pure,partial,mixed,contamination,linked_truth
0,1,1,7,1,0,0,NaN,4.0
1,2,1,9,1,0,0,NaN,4.0
2,3,1,11,1,0,0,NaN,4.0
3,4,2,9,0,0,1,NaN,NaN
4,5,2,6,0,0,1,NaN,NaN
5,6,2,6,0,0,1,NaN,NaN
6,7,2,8,0,0,1,NaN,NaN
7,8,2,6,0,0,1,NaN,NaN
8,9,2,6,0,0,1,NaN,NaN
9,10,2,6,0,0,1,NaN,NaN
10,11,2,9,0,0,1,NaN,NaN
11,12,2,6,0,0,1,NaN,NaN
12,13,2,8,0,0,1,NaN,NaN
13,14,2,6,0,0,1,NaN,NaN
14,15,2,6,0,0,1,NaN,NaN
15,16,2,6,0,0,1,NaN,NaN
16,17,2,6,0,0,1,NaN,NaN
17,18,2,6,0,0,1,NaN,NaN
18,19,2,6,0,0,1,NaN,NaN
19,20,2,6,0,0,1,NaN,NaN
20,21,2,9,0,0,1,NaN,NaN
21,22,2,6,0,0,1,NaN,NaN
22,23,2,6,0,0,1,NaN,NaN
23,24,2,8,0,0,1,NaN,NaN
24,25,3,6,0,0,1,NaN,NaN
25,26,3,6,0,0,1,NaN,NaN
26,27,3,6,0,0,1,NaN,NaN
27,28,2,6,0,0,1,NaN,NaN
28,29,2,6,0,0,1,NaN,NaN
29,30,2,9,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...
49970,49971,2,6,0,0,1,NaN,NaN
49971,49972,2,6,0,0,1,NaN,NaN
49972,49973,2,6,0,0,1,NaN,NaN
49973,49974,2,6,0,0,1,NaN,NaN
49974,49975,2,6,0,0,1,NaN,NaN
49975,49976,2,6,0,0,1,NaN,NaN
49976,49977,2,7,0,0,1,NaN,NaN
49977,49978,3,8,0,0,1,NaN,NaN
49978,49979,3,7,0,0,1,NaN,NaN
49979,49980,3,12,0,1,0,0.166667,8349.0
49980,49981,3,10,0,1,0,0.200000,392172.0
49981,49982,3,11,0,1,0,0.181818,392400.0
49982,49983,3,12,0,1,0,0.166667,8559.0
49983,49984,3,10,0,1,0,0.200000,392630.0
49984,49985,3,11,0,1,0,0.181818,392646.0
49985,49986,3,11,0,1,0,0.181818,392683.0
49986,49987,3,11,0,1,0,0.181818,393008.0
49987,49988,3,9,0,0,1,NaN,NaN
49988,49989,3,6,0,0,1,NaN,NaN
49989,49990,3,6,0,0,1,NaN,NaN
49990,49991,3,8,0,0,1,NaN,NaN
49991,49992,3,6,0,0,1,NaN,NaN
49992,49993,3,6,0,0,1,NaN,NaN
49993,49994,3,6,0,0,1,NaN,NaN
49994,49995,3,7,0,0,1,NaN,NaN
49995,49996,3,6,0,0,1,NaN,NaN
49996,49997,3,6,0,0,1,NaN,NaN
49997,49998,3,8,0,0,1,NaN,NaN
49998,49999,4,8,0,0,1,NaN,NaN
49999,50000,2,8,0,0,1,NaN,NaN

For each cluster defined in the `linkageMembers` format, the number of unique 'truths' is counted ('num_members'), the number of unique observations in each linkage ('num_obs'), whether the linkage is 'pure', 'partial' or 'mixed', the contamination percentage (if the linkage is considered 'partial') and if the linkage is either 'pure' or 'partial' then the linked truth ('linked_truth').  

Here we briefly summarize the different linkage types possible:
- 'pure': all observations in a linkage belong to a unique truth
- 'partial': up to a certain percentage of non-unique thruths are allowed so along as one truth has at least the minimum require number of unique observations
- 'mixed': a linkage containing different observations belonging to different truths, we avoid using the word 'false' for these clusters as they may contain unknown truths depending on the use case. We leave interpretation up to the user.

In [23]:
allTruths

       object_name  num_obs  findable  found_pure  found_partial  found
0               -1     2346         0           1              0      1
1               -2      947         0           0              0      0
2             7359       26         1           1              1      1
3             7928       26         1           1              1      1
4             7888       26         1           1              1      1
5             7839       25         1           1              1      1
6             7704       25         1           1              1      1
7             7684       25         1           1              1      1
8             7930       25         1           1              1      1
9             7863       25         1           1              1      1
10            7204       24         1           1              0      1
11            7657       24         1           1              1      1
12          419382       24         1           0              1      1
13            7682       24         1           1              1      1
14            7269       24         1           1              0      1
15            7851       24         1           1              1      1
16            7763       24         1           1              0      1
17            7896       24         1           1              0      1
18            7466       23         1           1              0      1
19          418950       23         1           0              1      1
20            7339       23         1           1              1      1
21            7836       23         1           1              1      1
22            7728       23         1           1              1      1
23            7617       23         1           1              0      1
24            7379       23         1           1              0      1
25            7807       23         1           1              1      1
26            7660       23         1           1              1      1
27            7602       23         1           1              0      1
28            7316       23         1           1              0      1
29            7498       23         1           1              1      1
...            ...      ...       ...         ...            ...    ...
17446       275637        1         0           0              0      0
17447       488632        1         0           0              0      0
17448       674783        1         0           0              0      0
17449        30347        1         0           0              0      0
17450      1510859        1         0           0              0      0
17451       695737        1         0           0              0      0
17452       496833        1         0           0              0      0
17453       738386        1         0           0              0      0
17454       667714        1         0           0              0      0
17455       420463        1         0           0              0      0
17456      1506597        1         0           0              0      0
17457       494530        1         0           0              0      0
17458         6986        1         0           0              0      0
17459       521917        1         0           0              0      0
17460       431656        1         0           0              0      0
17461       522132        1         0           0              0      0
17462       522397        1         0           0              0      0
17463       478954        1         0           0              0      0
17464       449362        1         0           0              0      0
17465       438516        1         0           0              0      0
17466       664013        1         0           0              0      0
17467       266197        1         0           0              0      0
17468      1004323        1         0           0              0      0
17469       691870        1         0           0              0      0
17470       431464        1         0           0              0      0
17471       251637        1         0           0              0      0
17472       424429        1         0           0              0      0
17473       813551        1         0           0              0      0
17474       883213        1         0           0              0      0
17475       462158        1         0           0              0      0

[17476 rows x 6 columns]

The allTruths dataframe shows for each truth if it has been found in either a pure or partial linkage. If found in either it sets the found column to 1. 

Lastly, the summary dataframe contains overall statistics on the number of truths found, the completeness (if calculable) and so on...

In [24]:
summary

,num_unique_truths,num_unique_known_truths,num_unique_known_truths_findable,num_known_truth_observations,num_unknown_truth_observations,num_false_positive_observations,percent_known_truth_observations,percent_unknown_truth_observations,percent_false_positive_observations,num_unique_known_truths_found,num_unique_known_truths_missed,percent_completeness,num_known_truths_pure_linkages,num_known_truths_partial_linkages,num_unknown_truths_pure_linkages,num_unknown_truths_partial_linkages,num_false_positive_pure_linkages,num_false_positive_partial_linkages,num_mixed_linkages,num_total_linkages
0,17476,17474,8523,103188,0,3293,96.907429,0.0,3.092571,3116,3558,46.688642,4085,2678,0,0,6,0,43231,50000

Notice that we passed the allTruths dataframe as a kwarg to the `analyzeLinkages` function, this allows the function to access the 'findable' column and calculate completeness. You do not need to pass the allTruths dataframe nor the summary dataframe to use `analyzeLinkages`. Below is an example.

In [25]:
allTruths.drop(columns=["findable"], inplace=True)

allLinkages, allTruths, summary = difi.analyzeLinkages(observations, 
                                                       linkageMembers, 
                                                       minObs=5, 
                                                       contaminationThreshold=0.2, 
                                                       unknownIDs=[],
                                                       falsePositiveIDs=["-1", "-2"],
                                                       verbose=True,
                                                       columnMapping=columnMapping)

Analyzing linkages...
Known truth pure linkages: 4085
Known truth partial linkages: 2678
Unknown truth pure linkages: 0
Unknown truth partial linkages: 0
False positive pure linkages: 6
False positive partial linkages: 34
Mixed linkages: 43197
Total linkages: 50000
Mixed linkage percentage (%): 86.394
Unique known truths linked: 3116
Unique known truths missed: nan
Completeness (%): nan

Total time in seconds: 0.59568190574646

../difi/difi.py:271: UserWarning: No 'findable' column was found in allTruths. Cannot compute completeness.
  warnings.warn("No 'findable' column was found in allTruths. Cannot compute completeness.", UserWarning)